* {
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20px;
}

#page {
	width: 40%;
	margin: 10em auto;
	border: 1px solid black;
	border-radius: 1.2em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#page-heading > * {
	font-size: 3em;
}

form {
	width: 100%;
	padding: 3em 0em;

	display: flex;
	gap: 2em;
	flex-direction: column;
	align-items: center;
}

fieldset {
	width: 100%;
	border: none;

	display: flex;

	justify-content: center;
	align-items: center;
}

#auth-btn {
	width: 87%;
	height: 3em;
}

#password,
#username {
	width: 90%;
	padding: 1em 2em;
}
