#page-heading {
	padding: 2em;
	display: flex;
	align-items: center;
}

#page-heading > h1 {
	width: 90%;
	text-align: center;
}

.review {
	display: flex;
	gap: 2em;
}

.review > :first-child {
	font-weight: 700;
}
