<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{id}}</title>
		<script src="/scripts/book.js"></script>
	</head>
	<body>
		<header>
			<h1 id="title">{{title}}</h1>
		</header>
		<main>
			<article>
				<div id="img">
					<img src="{{imgSrc}}" width="10%" height="10%" />
				</div>
				<div id="description">{{description}}</div>
				<input type="button" value="Add to favourite" id="favourite-btn" />

				<section id="reviews-container">
					<h1>Reviews</h1>
					<form>
						<input
							type="text"
							name="review"
							id="review-input-box"
							placeholder="Write a review"
						/>
						<input type="submit" value="Submit" />
					</form>
				</section>
			</article>
		</main>
	</body>
</html>
